<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" keypress-events>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Satori review cards {{ReviewContainer.cardCount + 1}} / 20</h5>
                        </div>
                        <div ng-show="ReviewContainer.isLoading || ReviewContainer.error" class="ibox-content">
                            <label ng-hide="ReviewContainer.error">Hold on, loading cards</label>
                            <label ng-show="ReviewContainer.error">{{ReviewContainer.error}}</label>
                        </div>
                        <div ng-show="!(ReviewContainer.isLoading || ReviewContainer.error)" class="ibox-content">
                            <div class="">
                                <a ng-href='#' id="next-card" ng-click='ReviewContainer.nextCard()' href="javascript:void(0);" class="btn btn-primary ">Sljedeca karta</a>
                            </div>

                            <label>This has been: {{ReviewContainer.getQStatus[ReviewContainer.q]}}</label><br />
                            <h1 ng-show="ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                <ruby ng-repeat="express in ReviewContainer.currentCard.expression_text">
                                    {{express.kanji}}
                                    <rp>(</rp><rt>{{express.hiragana}}</rt><rp>)</rp>
                                </ruby>
                            </h1>
                            <h1 ng-show="!ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                {{ReviewContainer.currentCard.full_definition}}
                            </h1>
                            <h1 ng-show="ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                Context:<br />
                                <ruby ng-repeat="express in ReviewContainer.currentCard.contexts[0].expression_text">
                                    {{express.kanji}}
                                    <rp>(</rp><rt>{{express.hiragana}}</rt><rp>)</rp>
                                </ruby>
                            </h1>
                            <div id="alt-info" ng-show="ReviewContainer.showAll" ng-submit="ReviewContainer.saveCard()">
                                <label for="alt-discussion">Alternative definition</label><br />
                                <textarea ng-model="ReviewContainer.currentCard.alternateDefinitions" id="alt-discussion" name="alt-discussion"></textarea>  <br />
                                {{ReviewContainer.currentCard.alternateDefinitions}}<br />
                                <label for="mnemonics">Alternative mnemonic</label><br />
                                <textarea ng-model="ReviewContainer.currentCard.mnemonics" id="mnemonics" name="mnemonics"></textarea>  <br />
                                {{ReviewContainer.currentCard.mnemonics}}<br />
                                <div class="">
                                    <a ng-href='#' id="next-card" ng-click='ReviewContainer.saveCard()' href="javascript:void(0);" class="btn btn-primary ">Save card</a>
                                </div>
                            </div>
                            <form ng-submit="ReviewContainer.checkAnswer()">
                                <input ng-disabled="ReviewContainer.showAll" ng-model="ReviewContainer.answer" id="answer" name="answer" />
                                <input ng-disabled="ReviewContainer.showAll" type="submit" id="submit" name="submit" value="Check card"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>