<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight" keypress-events >
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editable Table in- combination with jEditable</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="">
                                <a ng-href='#' id="next-card" ng-click='ReviewContainer.nextCard()' href="javascript:void(0);" class="btn btn-primary ">Sljedeca karta</a>
                            </div>

                            <label>{{ReviewContainer.currentCard.cardType}}</label><br />
                            <h1 ng-show="ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                <ruby ng-repeat="express in ReviewContainer.currentCard.expression_text">
                                    {{express.kanji}}
                                    <rp>(</rp><rt>{{express.hiragana}}</rt><rp>)</rp>
                                </ruby>
                            </h1>
                            <h1 ng-show="!ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                    {{ReviewContainer.currentCard.definition_text}}
                            </h1>
                            <h1 ng-show="ReviewContainer.isJapanese() || ReviewContainer.showAll">
                                Context:<br />
                                <ruby ng-repeat="express in ReviewContainer.currentCard.contexts[0].expression_text">
                                    {{express.kanji}}
                                    <rp>(</rp><rt>{{express.hiragana}}</rt><rp>)</rp>
                                </ruby>
                            </h1>
                            <form  ng-show="!ReviewContainer.showAll" ng-submit="ReviewContainer.checkAnswer()">
                                <input  ng-model="ReviewContainer.answer" id="answer" name="answer" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>